
.header {
    grid-area: header;
    background:green;
}

.header img {
    width: 80px;
}

.loginBlock {
    float: right;
    position: relative;
    //top: 0px;
}
.loginBlock a {
    color:white;
}